
/vendor-assigner/allure-results
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

../allure-results/
allure-results/
../test-results/
nextgen-scheduling/.allure/
nextgen-scheduling/allure-results/
